.bigButton{
    border-radius:10px;
    padding: 15px 40px;
    width:240px; 
    height:60px;
    font-size: 1.3em;
    color: black;
}
.bigButton:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
.smallButton{
    height:60px;
    width:80px;
    background: white;
    border-radius:1em;
}
.smallButton--add:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
/* .smallButton--task{
    height:55px;
    width:55px;
    align-self:center;
    margin-right:5px;
} */
.task .smallButton{
    height:55px;
    width:55px;
    align-self:center;
    margin-right:5px;
}
.task:not(.task--through):hover .smallButton:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
