.bigButton{
    border-radius:10px;
    padding: 15px 40px;
    width:240px; 
    height:60px;
    font-size: 1.3em;
    color: black;
}
.bigButton:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
.smallButton{
    height:60px;
    width:80px;
    background: white;
    border-radius:1em;
}
.main__creationPanel__smallButton:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
.task .smallButton{
    height:55px;
    width:55px;
    align-self:center;
    margin-right:5px;
}
.task--through .smallButton{
    background: gray;
}
.task:not(.task--through):hover .smallButton:hover{
    background-color: black;
    color:white;
    transition:0.3s;
}
.deleteButton{
    width:50px;
    height:50px;
    background:#F76164;
    border:1px solid #D1D5DC;
    border-radius:15px;
}