.main{
    opacity:0;
    /* это для того чтобы он не показывался пока не прогрузится localStorage если оно есть */

    height:90%;
    width:80%;
    display:flex;
    flex-direction: column;
    gap:0.5em;

    font-family:  'UnifrakturMaguntia',cursive;
}
.main__panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5em;
}
.main__task{

}
.main__div__task{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8em;
    overflow-y: auto; 
    /* max-width:890px; */
    max-height:606px;
}
.main__creationPanel{
    margin-top:auto;
    align-self: center;

    display:flex;
    align-items: center;
    gap:0.5em;

    box-shadow: 0 2px 8px rgba(29, 121, 147, 0.2);
}

@media (max-width: 1600px) {

.main__panel{
  gap:1em;
}
.main{
    font-size:0.8em;
}
.main__div__task{
    max-height:400px;
   
}
}
@media (max-width: 700px) {
    .main__panel{
        gap:0.5em;
      }
}