.svgPic{
    height:24px;
    width:24px;
}
.svgPic--search{
    color:black;
    position:absolute;
    right:5%;
    top:30%;
}
.main__panel__block{
    position:relative;
}
.svgPic:hover{
    color:#53EAFD;
}
.svgPic--hover{
    color:#53EAFD;
}

.svgChoicer{
    align-self:center;
    display:flex;
    gap:1em;
    color:#99A1AF;
}
.task__pic{
    height:50px;
    width:50px;
    align-self:center;
    color:rgb(0, 0, 0);
    margin-left:0.5em;
    pointer-events: none;
}
.task:not(.task--through):hover .task__pic{
    color:#53EAFD; 
    fill:#53EAFD; 
}
.deleteButton__pic{
    width:30px;
    height:40px;
    color:white;
}

@media(max-width:1600px){
    .task__pic{
       height:30px;
       width:30px;
    }
    .deleteButton__pic{
        height:20px;
        width:20px;
    }
    .svgPic{
        width:15px;
        height:15px;
    }
  }

  @media(max-width:700px){
    .task__pic{
        height:25px;
        width:25px;
     }
     
  }