.task{
    width:65%;
    height:60px;
    background:white;
    /* border:solid black 1px; */
    border-radius:1em;
    cursor: pointer;
    display:flex;
    user-select: none;  
    touch-action: manipulation;
}
.task__text{
    align-self:center;
    margin-left:1em;
    font-size:1.6em;
}
.task:not(.task--through):hover{
    transform: scale(1.03);
    box-shadow: 0 2px 8px #54bcdf;
 }
 .task__category{
    color:steelblue;
    margin-right:0.5em;
    align-self:center;
    font-size:1.6em;
 }
 .task__block{
    margin-left:auto;
    align-self:center;
 }
 .task--hide{
    display:none;
 }
 .task--through{
    position: relative;
    background:gray;
    opacity:0.5;
 }
 .task--through > * {
    pointer-events: none;
  }
 .task--through  .task__category{
    color:black;
 }
 .task--through::before{
    content: "";
    position: absolute;
    left: 1%;
    top: 50%;
    width: 98%;
    height: 3px;
    background: #000;
    transform: translateY(-50%);
    border-radius: 10px;
 }

 @media(max-width:1600px){
   .task{
      height:40px;
   }
   .task__text{
      font-size:1em;
   }
   .task__category{
      font-size:0.8em;
   }
 }

 
 @media(max-width:700px){
   .task{
      height:40px;
   }
   .task__category{
      font-size:1em;
   }
 }